#dinaListor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#dinaListor p {
	margin-top: 10px;
}

#dinaNamn {
  	width: 200px;
  	height: auto;
}

#dinaMail {
	width: 250px;
	height: auto;
}

#dinaNummer {
	width: 200px;
	height: auto:;
}




