/*Dina lärare kontakt info*/
#dinaListor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#dinaListor p {
	margin-top: 10px;
}
#dinaNamn {
  	width: 200px;
  	height: auto;
}
#dinaMail {
	width: 250px;
	height: auto;
}
#dinaNummer {
	width: auto;
	height: auto;
}
/*Övrig personal kontakt info*/
#ovrigaListor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#ovrigaListor p {
	margin-top: 10px;
}
#ovrigNamn {
	width: 210px;
	height: auto;
}
#ovrigMail {
	width: 260px;
	height: auto;
}
#ovrigMail p:last-child {
	margin-bottom: 20px;
}
#ovrigNummer {
	width: auto;
	height: auto;
}
/*Meddelanden*/
.message {
	width: calc(100% - 20px);
	max-width: 650px;
	margin:35px auto 0 auto;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 30px;
}
.answerButton {
	float: right;
	margin-right: 20px;
	text-decoration: none;
	color: var(--pink);
}