/*Dina lärare kontakt info*/
#dinaListor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#dinaListor p {
	margin-top: 10px;
}
#dinaNamn {
  	width: 200px;
  	height: auto;
}
#dinaMail {
	width: 250px;
	height: auto;
}
#dinaNummer {
	width: auto;
	height: auto;
}
/*Övrig personal kontakt info*/
#ovrigaListor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#ovrigaListor p {
	margin-top: 10px;
}
#ovrigNamn {
	width: 200px;
	height: auto;
}
#ovrigMail {
	width: 250px;
	height: auto;
}
#ovrigNummer {
	width: auto;
	height: auto;
}