*{margin:0;padding:0;border:0;font-family:roboto}h1{font-weight:500;font-size:25px;color:#414549}h2{font-weight:400;font-size:20px;color:var(--text-grey)}h3{font-weight:500;font-size:25px;color:#414549;opacity:0.5;text-align:center}p{font-weight:400;font-size:15px;color:var(--text-grey)}:root{--green:#4CAF50;--pink:#FF4081;--text-grey:#414549;}
section {
	width: 45%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
	height: calc(100vh - 211px);
	overflow-x: hidden;
	z-index: -4;
}
/*card shadow*/
.card {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
/*Checkbox*/
.checkbox {
	width: 18px;
	height: 18px;
	border: 2px solid var(--text-grey);
	background: none;
	border-radius: 3px;
	cursor:pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	transition: border-color 0.4s ease-out;
	background-opacity: 0.5
}
.clicked {
	background-image: url(../IMAGES/logIn/checkmark.svg);
	background-color: var(--pink) !important;
	border-color: var(--pink) !important;
}
/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--pink);
	border-radius: 20px;
}
/*Place holder text*/
input::-webkit-input-placeholder {
	color: var(--text-grey)
}
/*Floaring action button (fab)*/
.fab {
	width: 55px;
	height: 55px;
	background-color: var(--pink);
	border-radius: 200px;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
	position: absolute;
	bottom: 160px;
	left: calc(50% - 27.5px);
	cursor: pointer;
}
.fab img {
	width: 26px;
}

.header {
	height: 122px;
	width: 100%;
	box-shadow: 0 3px 3px rgba(0,0,0,.3)
}
#logga {
	width: 133px;
	overflow-x: hidden;
	float: left;
	margin: 28px 0 0 15%;
	cursor: pointer;
}
#loggaUpper {
	font-size: 45px;
	font-weight: 500
}
#loggaUpper span {
	color: var(--green)
}
#loggaUpper strong {
	font-weight: 700;
	font-size: 40px
}
#loggaLower {
	font-size: 12px;
	margin-top: -10px;
	text-align: right;
}
#menu {
	width: 40%;
	margin: 0 auto;
}
.header ul {
	list-style-type: none;
	text-align: center;
	line-height: 122px;
}
.header ul li a {
	color: var(--text-grey);
	text-decoration: none;
	padding: 15px 2px;
	margin:0 15px;
}
#user {
	float: right;
	margin: -81px 15% 0 0;
}
#userUpper {
	float: right;
}
#userLower {
	clear: both;
	font-size: 12px;
	float: right;
	margin-left: -61px;
	cursor: pointer;
}
input {
	outline: none;
}
button {
	outline: none;
	color: var(--pink);
	background: none;
	font-size: 15px;
	cursor: pointer;
}
.normalButton {
	border: 2px solid var(--pink);
	border-radius: 200px;
	padding: 5px 13px;
}
.header button {
	float: right;
	margin-top: -18px;
	margin-right: -108%;
}
#notisBell {
	float: right;
	opacity: 0.5;
	margin-right: 16px;
	margin-top: -17px;
	width: 30px;
	cursor: pointer;
	z-index: 2;
	position: relative;
}
/*Notis bell nummer*/
#msgNumber {
	z-index: 9999;
	position: relative;
	background-color: var(--pink);
	color: #fff;
	border-radius: 500%;
	width: 22px;
	height: 22px;
	font-size: 15px;
	text-align: center;
	line-height: 22px;
	cursor:pointer;
	right: 0;
	margin-left: 16px;
	margin-top: -25px;
}
#notis {
	float: right;
	margin-right: -220px;
}
#title {display: none}
.active {
	border-bottom: solid 4px var(--pink);
}







/*Under menues*/
.underMenu {
	margin: 0 auto 40px auto;
}
.underMenu ul {
	list-style-type: none;
	text-align: center;
}
.underMenu ul li button  {
	color: var(--text-grey);
	background: none;
	font-size: 20px;
	margin: 0 15px;
	padding: 15px 2px;
	cursor: pointer;
}













/*Footer*/
footer {
	z-index: 99;
}
.footer {
	width: 100vw;
	height: 55px;
	margin-top: 200px;
	text-align: center;
	box-shadow: 0 -3px 3px rgba(0,0,0,.3);
	padding-top: 14px;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
#footerLinks a{
	color: var(--pink);
	text-decoration: none;
	font-size: 14px;
	margin: 0 7px;
}
.footer p {
	font-size: 12px;
	margin-top: 10px;
}