*{margin:0;padding:0;border:0;font-family:roboto}h1{font-weight:500;font-size:25px;color:#414549}h2{font-weight:400;font-size:20px;color:var(--text-grey)}p{font-weight:400;font-size:15px;color:var(--text-grey)}:root{--green:#4CAF50;--pink:#FF4081;--text-grey}
section {
	width: 35%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
	height: 62vh;
}
/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--pink);
	border-radius: 20px;
}
.header {
	height: 122px;
	width: 100%;
	box-shadow: 0 3px 3px rgba(0,0,0,.3)
}
#logga {
	width: 133px;
	overflow-x: hidden;
	float: left;
	margin: 28px 0 0 15%;
}
#loggaUpper {
	font-size: 45px;
	font-weight: 500
}
#loggaUpper span {
	color: var(--green)
}
#loggaUpper strong {
	font-weight: 700;
	font-size: 40px
}
#loggaLower {
	font-size: 12px;
	margin-top: -10px;
	text-align: right;
}
#menu {
	width: 40%;
	margin: 0 auto;
}
.header ul {
	list-style-type: none;
	text-align: center;
	line-height: 122px;
}
.header ul li a {
	color: var(--text-grey);
	text-decoration: none;
	padding: 15px 2px;
	margin:0 15px;
}
#user {
	float: right;
	margin: -81px 15% 0 0;
}
#userUpper {
	float: right;
}
#userLower {
	clear: both;
	font-size: 12px;
	float: right;
	margin-left: -61px;
}
button {
	outline: none;
}
.header button {
	float: right;
	margin-top: -18px;
	margin-right: -104%;
	border: 2px solid var(--pink);
	border-radius: 200px;
	padding: 5px 13px;
	background-color: #fff;
	color: var(--pink);
	cursor: pointer;
	font-size: 15px;
}
#title {display: none}
.active {
	border-bottom: solid 4px var(--pink);
}

/*Footer*/
.footer {
	width: 100vw;
	height: 55px;
	margin-top: 200px;
	text-align: center;
	box-shadow: 0 -3px 3px rgba(0,0,0,.3);
	padding-top: 14px;
	position: absolute;
	bottom: 0;
}
#footerLinks a{
	color: var(--pink);
	text-decoration: none;
	font-size: 14px;
	margin: 0 7px;
}
.footer p {
	font-size: 12px;
	margin-top: 10px;
}